[
  {
    "name": "recipient-name",
    "value": "line-notify-access-token"
  },
  {
    "name": "javascript-related-group",
    "value": "another-line-notify-access-token"
    "tags": [
      "nodejs",
      "javascript"
    ]
  }
]
